/**
 * @name Revert
 * @author aragocz
 * @authorId 428984613935775765
 * @authorLink https://aragocz.com
 * @version 1.4.0
 * @description Revert to old discord theme
 * @source https://github.com/aragocz/discord-revert
 * @website https://github.com/aragocz/discord-revert
 * @updateUrl https://raw.githubusercontent.com/aragocz/discord-revert/refs/heads/main/revert.theme.css
 * @donate https://ko-fi.com/aragocz
*/

@import url("https://raw.githubusercontent.com/scattagain/VencordStuff/c1dc75361a0a6649cfdc8906baf8b66b57c808c5/css/GuildbarRevert.css");

:root {
    /*Feel free to change*/
    --background-darker: color-mix(in oklab, #1b1c1f, var(--background-base-lowest));
    --text-lighter: #dcdcdc;
    --message-hover-mixin: rgba(0, 0, 0, 0.13);
    --scrollbar-auto-thumb: var(--background-darker) !important;
    --scrollbar-thin-thumb: var(--background-darker) !important;
    --scrollbar-auto-track: var(--background-base-lowest) !important;
    --background-quart: var(--bg-overlay-app-frame, color-mix(in oklab, #1f2023, var(--background-base-lowest)));
    
    /*Change only if you know what you're doing*/
    --background-message-hover: color-mix(in oklab, var(--background-primary), var(--message-hover-mixin)) !important;

    /*Do NOT change, this will mess up sizes*/
    --guildbar-avatar-size: 48px !important;
    --blob-scale: 48;
    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
    --custom-guild-list-padding: 10px !important;
}

.visual-refresh 

.wrapper__44b0c.avatar__37e49 .mask__44b0c.svg__44b0c{
    padding: 2px 0px 0px 2px;
    height: 44px;
    width: 44px;
}

.text-md\/medium_cf4812{
    font-size: 14px !important;
}

.lineClamp1__4bd52.text-sm\/medium_cf4812{
    font-size: 12px;
}

/*
This option is for removing the Voice Changer dropdown list.
If you want it feel free to remove the following.
I'm not liable for any misallignments caused by adding it back.
*/
div.micButtonParent__37e49 > div > button.buttonChevron__37e49{
    display: none !important;
}

.visual-refresh {
    & .micButtonParent__37e49 > button {
        border-top-right-radius: var(--radius-sm) !important;
        border-bottom-right-radius: var(--radius-sm) !important;
    }

    .button_e131a9 {
        border-radius: 4px !important;
    }

    div.base_c48ade {
        grid-template-rows: [top] 22px [titleBarEnd] min-content [noticeEnd] 1fr [end];
        background-color: var(--background-quart);

        & > div.bar_c38106 {
            position: absolute;
            top: 0;
            right: anchor(right);
            width: 100%;
            padding: 0;
            height: 22px !important;
            min-height: 12px !important;
        }

        & div.trailing_c38106 {
            border: none;
        }

        & a[href="https://support.discord.com"], & .title_c38106, & div.recentsIcon_c99c29{
            display: none !important;
        }

        & div.winButtons_c38106.winButtonsWithDivider_c38106 {
            &::before {
                display: none;
            }
            
            & div.winButton_c38106 {
                height: 22px !important;
            }
        }
    }

    .panels_c48ade{
        background-color: var(--background-darker) !important;
        width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)) !important;
        border-radius: 0px !important;
        bottom: 0px !important;
        right: 0px !important;
        border: 0px;
	    left: auto;

        & > .container__37e49{
            height: 55px !important;
        }
    }

    :not(:has(div.page_c48ade > div.chat_f75fb0)) div.base_c48ade > div.bar_c38106 {
        right: 0 !important;
    }

    div.topic__6ec1a {
        -webkit-app-region: no-drag;
    }

    nav[class*="guilds_"] [id^="folder-items-"]{
        --guildbar-avatar-size: 48px !important;
    }

    .guilds_c48ade {
	    margin-bottom: 0;
    }
}

.titleWrapper__9293f > h1.text-md\/medium_cf4812 {
    font-size: 16px !important;
}

.folderGroup__48112.isExpanded__48112 {
    .folderGroupBackground__48112 {
        border-radius: var(--radius-round);
    }

    .folderIcon__48112 {
        border-radius: var(--radius-round);

        > svg {
            scale: 1.3;
        }
    }
    
    foreignObject div.wrapper_cc5dd2 {
        svg.svg_cc5dd2, svg.svg_cc5dd2 > foreignObject, svg.svg_cc5dd2 .folderIcon__48112{
            height: var(--guildbar-avatar-size) !important;
            width: var(--guildbar-avatar-size) !important;
            border-radius: var(--radius-round) !important;
        }
    }
}

.text_b88801{
    font-size: 12px;
}

.selectedChannel_c69b6d .linkTop__2ea32{
    & .name__2ea32, & .iconContainer__2ea32 .icon__2ea32 {
        color: var(--text-lighter) !important;
    }
}

.wrapper__2ea32:hover .name__2ea32 {
    color: var(--text-lighter) !important;
}

.content_c48ade > .sidebar_c48ade::after{
    background-color: var(--background-darker) !important;
}

.unreadMentionsIndicatorTop_ef3116{
    top: 2%;
}

div.members_c8ffbb{
    background-color: var(--background-base-lowest) !important;

    & .member__5d473 {
        background-color: var(--background-base-lowest) !important;
    }
}

.childWrapper__6e9f8 > .container__1ce5d {
    border-radius: var(--radius-round) !important;
    height: 48px !important;
    width: 48px !important;
    & > .svg__2338f {
        height: 48px !important;
        width: 48px !important;
    }

    & foreignObject[mask="url(#svg-mask-diagonal-facepile-32)"] {
        width: 32px !important;
        height: 32px !important;
        transform: none !important;
    }
}

.wrapper__6e9f8.selected__6e9f8:has(.childWrapper__6e9f8 > .container__1ce5d) > .childWrapper__6e9f8.childWrapperHoverScale__6e9f8{
    scale: 1.0 !important;
}

.buttonsInner__5126c.popover_f84418{
    background-color: var(--background-primary) !important;
}

.tree_ef3116{
    background-color: var(--background-quart) !important;
}

.outer_c0bea0:not(.custom-theme-background){
    background-color: var(--background-secondary);
}

.listItem__650eb{
    height: var(--guildbar-avatar-size);

    > div:not(.pill_e5445c, .wrapper_d144f8, .guildSeparator__252b6){
        height: var(--guildbar-avatar-size);
        width: var(--guildbar-avatar-size);
    }
}

.lowerBadge_cc5dd2 {
    transform: translate(8px, 8px) !important;
}

.folderGroup__48112 .folderHeader__48112 .folderButton__48112{
    .lowerBadge_cc5dd2{
        transform: none !important;
    }

    .wrapper_cc5dd2 mask{
        --badge-offset: 0 !important;
    }
}

.upperBadge_cc5dd2 {
    transform: translate(8px, 0px) !important;
}

.folderPreviewWrapper__48112 {
    .folderPreview__48112 {
        gap: 0px 4px !important;
        transform: translate(2px, 2px);
    }

    border-radius: var(--radius-md);
}

.notice__6e2b9 {
    font-size: 12px;
    line-height: 28px;
    button.button__6e2b9{ 
        font-size: 12px;
        height: 22px;
        line-height: 0px;
        top: 3px;
    }

    div.closeButton__6e2b9{
        height: 28px;
    }
}
