/**
 * @name Revert
 * @author aragocz
 * @authorId 428984613935775765
 * @authorLink https://aragocz.com
 * @version 1.2.0
 * @description Revert to old discord theme
 * @source https://github.com/aragocz/discord-revert
 * @website https://github.com/aragocz/discord-revert
 * @updateUrl https://raw.githubusercontent.com/aragocz/discord-revert/refs/heads/main/revert.theme.css
*/

@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

:root {
    /*Feel free to change*/
    --background-darker: #232428;
    --text-lighter: #dcdcdc;
    --message-hover-mixin: rgba(0, 0, 0, 0.13);
    --fast-follow-color: #25262a;
    
    /*Change only if you know what you're doing*/
    --background-message-hover: color-mix(in oklab, var(--background-primary), var(--message-hover-mixin)) !important;

    /*Do NOT change, this will mess up sizes*/
    --guildbar-avatar-size: 48px !important;
    --blob-scale: 48;
    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
    --custom-guild-list-padding: 10px !important;
}

.visual-refresh .panels_c48ade{
    background-color: var(--background-darker) !important;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)) !important;
    border-radius: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    border: 0px;
	left: auto;

    & > div.panel__5dec7{
        background-color: var(--background-darker) !important;
    }

    & > .container__37e49{
        height: 55px !important;
    }
}

.wrapper__44b0c.avatar__37e49 .mask__44b0c.svg__44b0c{
    padding: 2px 0px 0px 2px;
    height: 44px;
    width: 44px;
}

.text-md\/medium_cf4812{
    font-size: 14px !important;
}

.lineClamp1__4bd52.text-sm\/medium_cf4812{
    font-size: 12px;
}

/*
These options are for removing the Voice Changer dropdown list 
and discovery icon at the bottom of the server list.
If you want them feel free to remove the following.
I'm not liable for any misallignments caused by adding them back
*/
div.micButtonParent__37e49 > div > button.buttonChevron__37e49, .discoveryIcon_ef3116{
    display: none !important;
}
/**/

.visual-refresh {
    & .micButtonParent__37e49 > button {
        border-top-right-radius: var(--radius-sm) !important;
        border-bottom-right-radius: var(--radius-sm) !important;
    }

    .button_e131a9 {
        border-radius: 4px !important;
    }

    div.base_c48ade {
        grid-template-rows: [top] 0 [titleBarEnd] 22px [noticeEnd] 1fr [end];

        & > div.bar_c38106 {
            position: absolute;
            top: 0;
            right: anchor(right);
            width: 100%;
            padding: 0;
            height: 22px !important;
            min-height: 12px !important;
        }

        & div.trailing_c38106 {
            border: none;
        }

        & a[href="https://support.discord.com"], & .title_c38106, & div.recentsIcon_c99c29{
            display: none !important;
        }

        & div.winButtons_c38106.winButtonsWithDivider_c38106 {
            &::before {
                display: none;
            }
            
            & div.winButton_c38106 {
                height: 22px !important
            }
        }
    }

    :not(:has(div.page_c48ade > div.chat_f75fb0)) div.base_c48ade > div.bar_c38106 {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"] > div.itemsContainer_ef3116 {
        margin-top: 25px;
    }

    div.topic__6ec1a {
        -webkit-app-region: no-drag;
    }
}

.titleWrapper__9293f > h1.text-md\/medium_cf4812 {
    font-size: 16px !important;
}

.wrapper__48112.isExpanded__48112 .folderIcon__48112 div.wrapper_cc5dd2 svg.svg_cc5dd2 > foreignObject {
    height: var(--guildbar-avatar-size) !important;
    width: var(--guildbar-avatar-size) !important;
    border-radius: var(--radius-round) !important;
}

.visual-refresh nav[class*="guilds_"] [id^="folder-items-"]{
    --guildbar-avatar-size: 48px !important;
}

.visual-refresh .guilds_c48ade {
	margin-bottom: 0;
}
.visual-refresh .base_c48ade {
	grid-template-rows: [top] 1px [titleBarEnd] 2.5% [noticeEnd] 1fr [end];
    background-color: var(--fast-follow-color) !important;
}

.container__55c99{
    background-color: var(--background-darker) !important;
}

.text_b88801{
    font-size: 12px;
}

.menu_c1e9c4{
    background-color: var(--background-darker) !important;

    & .label_c1e9c4{
        color: var(--text-lighter);
    }

    & .labelContainer_c1e9c4 {
        padding: 6px !important;
    }
}

.selectedChannel_c69b6d .linkTop__2ea32{
    & .name__2ea32, & .iconContainer__2ea32 .icon__2ea32 {
        color: var(--text-lighter) !important;
    }
}

.wrapper__2ea32:hover .name__2ea32 {
    color: var(--text-lighter) !important;
}

.content_c48ade > .sidebar_c48ade::after{
    background-color: var(--background-darker) !important;
}

.unreadMentionsIndicatorTop_ef3116{
    top: 2%;
}

div.members_c8ffbb{
    background-color: var(--background-base-lowest) !important;

    & .member__5d473 {
        background-color: var(--background-base-lowest) !important;
    }
}

.childWrapper__6e9f8 > .container__1ce5d {
    border-radius: var(--radius-round) !important;
    height: 48px !important;
    width: 48px !important;
    & > .svg__2338f {
        height: 48px !important;
        width: 48px !important;
    }

    & foreignObject[mask="url(#svg-mask-diagonal-facepile-32)"] {
        width: 32px !important;
        height: 32px !important;
        transform: none !important;
    }
}

.wrapper__6e9f8.selected__6e9f8:has(.childWrapper__6e9f8 > .container__1ce5d) > .childWrapper__6e9f8.childWrapperHoverScale__6e9f8{
    scale: 1.0 !important;
}

.buttonsInner__5126c.popover_f84418{
    background-color: var(--background-primary) !important;
}

.tree_ef3116{
    background-color: var(--fast-follow-color) !important;
}