/**
 * @name Revert
 * @author aragocz
 * @authorId 428984613935775765
 * @authorLink https://aragocz.com
 * @version 1.4.3
 * @description Revert to old discord theme
 * @source https://github.com/aragocz/discord-revert
 * @website https://github.com/aragocz/discord-revert
 * @updateUrl https://raw.githubusercontent.com/aragocz/discord-revert/refs/heads/main/revert.theme.css
 * @donate https://ko-fi.com/aragocz
*/

@import url("https://raw.githubusercontent.com/scattagain/VencordStuff/c1dc75361a0a6649cfdc8906baf8b66b57c808c5/css/GuildbarRevert.css");

:root {
    /*Feel free to change*/
    --message-hover-mixin: rgba(0, 0, 0, 0.13);
    --scrollbar-auto-thumb: var(--background-darker) !important;
    --scrollbar-thin-thumb: var(--background-darker) !important;
    --scrollbar-auto-track: var(--background-base-lowest) !important;
    --background-quart: var(--bg-overlay-app-frame, var(--background-darker));
    
    /*Change only if you know what you're doing*/
    --background-message-hover: color-mix(in oklab, var(--background-primary), var(--message-hover-mixin)) !important;
    --background-darker: color-mix(in oklab, #000 10%, var(--background-base-lowest));
    --text-lighter: color-mix(in oklab, var(--text-primary), #000 10.5%);

    /*Do NOT change, this will mess up sizes*/
    --guildbar-avatar-size: 48px !important;
    --blob-scale: 48;
    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
    --custom-guild-list-padding: 10px !important;
}

.text-md\/medium_cf4812{
    font-size: 14px !important;
}

.lineClamp1__4bd52.text-sm\/medium_cf4812{
    font-size: 12px;
}

/*
This option is for removing the Voice Changer dropdown list.
If you want it feel free to remove the following.
I'm not liable for any misallignments caused by adding it back.
*/
div.micButtonParent__37e49 > div > button.buttonChevron__37e49{
    display: none !important;
}

.visual-refresh {
    .wrapper__44b0c.avatar__37e49 .mask__44b0c.svg__44b0c{
        padding: 2px 0px 0px 2px;
        height: 44px;
        width: 44px;
    }

    & .micButtonParent__37e49 > button {
        border-top-right-radius: var(--radius-sm) !important;
        border-bottom-right-radius: var(--radius-sm) !important;
    }

    .button_e131a9 {
        border-radius: 4px !important;
    }

    div.base_c48ade {
        grid-template-rows: [top] 22px [titleBarEnd] min-content [noticeEnd] 1fr [end];
        background-color: var(--background-quart);

        & > div.bar_c38106 {
            position: absolute;
            top: 0;
            right: anchor(right);
            width: 100%;
            padding: 0;
            height: 22px !important;
            min-height: 12px !important;
        }

        & div.trailing_c38106 {
            border: none;
        }

        & a[href="https://support.discord.com"], & .title_c38106, & div.recentsIcon_c99c29{
            display: none !important;
        }

        & div.winButtons_c38106.winButtonsWithDivider_c38106 {
            &::before {
                display: none;
            }
            
            & div.winButton_c38106 {
                height: 22px !important;
            }
        }
    }

    .panels_c48ade{
        background-color: var(--background-darker) !important;
        width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)) !important;
        border-radius: 0px !important;
        bottom: 0px !important;
        right: 0px !important;
        border: 0px;
	    left: auto;

	& > div.panel__5dec7{
	    background-color: var(--background-darker) !important;
     	}

        & > .container__37e49{
            height: 55px !important;
        }
    }

    :not(:has(div.page_c48ade > div.chat_f75fb0)) div.base_c48ade > div.bar_c38106 {
        right: 0 !important;
    }

    div.topic__6ec1a {
        -webkit-app-region: no-drag;
    }

    nav[class*="guilds_"] [id^="folder-items-"]{
        --guildbar-avatar-size: 48px !important;
    }

    .guilds_c48ade {
	    margin-bottom: 0;
    }
}

.titleWrapper__9293f > h1.text-md\/medium_cf4812 {
    font-size: 16px !important;
}

.folderGroup__48112.isExpanded__48112 { 
    foreignObject div.wrapper_cc5dd2 {
        svg.svg_cc5dd2, svg.svg_cc5dd2 > foreignObject, svg.svg_cc5dd2 .folderIcon__48112{
            height: var(--guildbar-avatar-size) !important;
            width: var(--guildbar-avatar-size) !important;
            border-radius: var(--radius-round) !important;
        }
    }
}

.text_b88801{
    font-size: 12px;
}

.selectedChannel_c69b6d .linkTop__2ea32{
    & .name__2ea32, & .iconContainer__2ea32 .icon__2ea32 {
        color: var(--text-lighter) !important;
    }
}

.wrapper__2ea32:hover .name__2ea32 {
    color: var(--text-lighter) !important;
}

.content_c48ade > .sidebar_c48ade::after{
    background-color: var(--background-darker) !important;
}

div.members_c8ffbb{
    background-color: var(--background-base-lowest) !important;

    & .member__5d473 {
        background-color: var(--background-base-lowest) !important;
    }
}

.childWrapper__6e9f8 > .container__1ce5d {
    border-radius: var(--radius-round) !important;
    height: 48px !important;
    width: 48px !important;
    & > .svg__2338f {
        height: 48px !important;
        width: 48px !important;
    }

    & foreignObject[mask="url(#svg-mask-diagonal-facepile-32)"] {
        width: 32px !important;
        height: 32px !important;
        transform: none !important;
    }
}

.wrapper__6e9f8.selected__6e9f8:has(.childWrapper__6e9f8 > .container__1ce5d) > .childWrapper__6e9f8.childWrapperHoverScale__6e9f8{
    scale: 1.0 !important;
}

.buttonsInner__5126c.popover_f84418{
    background-color: var(--background-primary) !important;
}

.tree_ef3116{
    background-color: var(--background-quart) !important;
}

.outer_c0bea0:not(.custom-theme-background){
    background-color: var(--background-secondary);
}

.listItem__650eb{
    height: var(--guildbar-avatar-size);

    > div:not(.pill_e5445c, .wrapper_d144f8, .guildSeparator__252b6){
        height: var(--guildbar-avatar-size);
        width: var(--guildbar-avatar-size);
    }
}

.folderGroup__48112 .folderHeader__48112 .folderButton__48112:has(.lowerBadge_cc5dd2){
    border-bottom-right-radius: 0%;
}

.folderPreviewWrapper__48112 {
    .folderPreview__48112 {
        gap: 0px 4px !important;
        transform: translate(2px, 2px);
    }

    border-radius: var(--radius-md);
}

.notice__6e2b9 {
    font-size: 12px;
    line-height: 28px;
    button.button__6e2b9{ 
        font-size: 12px;
        height: 22px;
        line-height: 0px;
        top: 3px;
    }

    div.closeButton__6e2b9{
        height: 28px;
    }
}


.shiftSVG_cc5dd2{
    left: 0px !important;
    top: 0px !important;
}

/* The Following is sourced from here: https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css but has to be imported directly due to specificity and whatnot*/

nav[class*="guilds_"] {
    defs>path {
        /* #svg-mask-squircle */
        d: path("M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z");
    }

    defs, 
    [class*="blobContainer_"],
    [class*="wrapper_"],
    [class*="listItemWrapper__"],
    svg[class*="placeholderMask__"],
    svg:not([class*="placeholderMask__"]) > foreignObject {
        width: var(--guildbar-avatar-size) !important;
        height: var(--guildbar-avatar-size) !important;
    }

    [class*="dragInner__"] {
        width: 40px;
        height: 40px;
    }

    [class*="childWrapper__"]>svg {
        width: calc(var(--guildbar-avatar-size) - 18px);
        height: calc(var(--guildbar-avatar-size) - 18px);
    }

    [class*="childWrapper__"]:not(:has(.container__1ce5d)),
    [class*="childWrapper__"] img,
    [class*="icon_"],
    [class*="circleIconButton__"] {
        border-radius: 50% !important;
        transition: border-radius 150ms linear;
    }

    [class*="selected__"] {
        [class*="childWrapper__"],
        [class*="childWrapper__"] img,
        [class*="icon_"],
        &[class*="circleIconButton__"] {
            border-radius: 27% !important;
        }
    }

    [class*="shiftSVG_"] {
        top: 0px;
        left: 0px;

        foreignObject {
            transform: translate(-4px, -4px);
        }
    }

    mask {
        --badge-offset: calc(var(--guildbar-avatar-size) - 40px);

        &:not([class*="folderHeader__"] mask) {
            use[href$="-lower_badge_masks"] {
                translate: var(--badge-offset) var(--badge-offset);
            }

            use[href$="-upper_badge_masks"] {
                translate: var(--badge-offset);
            }
        }

        use[href$="-blob_mask"] {
            scale: var(--blob-scale);
        }
    }

    [class*="iconSizeMini_"] {
        width: calc(var(--guildbar-folder-size) / 3);
        height: calc(var(--guildbar-folder-size) / 3);

        [class*="acronym_"] {
            line-height: calc(var(--guildbar-folder-size) / 3);
        }

        &[style*="font-size: 12px;"] {
            font-size: 10px !important;
        }
        &[style*="font-size: 10px;"] {
            font-size: 7px !important;
        }
        &[style*="font-size: 8px;"] {
            font-size: 6px !important;
        }
    }

    [class*="folderIcon__"] {
        svg {
            width: 24px !important;
            height: 24px !important;
        }
        
        background-color: var(--bg-mod-subtle);
    }

    [class*="closedFolderIconWrapper__"] {
        gap: initial;
    }

    [class*="listItem__"] {
        margin-bottom: 8px;
        height: min-content;
    }

    [class*="stack_"] {
        gap: 0 !important;
    }

    #guild-list-unread-dms {
        margin-top: 0 !important;
        > div {
            height: var(--guildbar-avatar-size) !important;
            margin-bottom: 8px;
        }
    }

    [class*="isExpanded__"] {
        [class*="folderGroupBackground__"] {
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        [class*="stack_"] {
            height: auto !important;
            :last-child {
                margin-bottom: 0;
            }
        }

        margin-bottom: 8px;
    }

    [id^="folder-items-"] {
        --guildbar-avatar-size: var(--guildbar-folder-size) !important;
    }
}